* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background:#2B2B2B ;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.avatar::before {
  content: '';
  background-image: conic-gradient(transparent 110deg, #fff 260deg);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  animation: rotate 2s linear infinite;
}

.avatar::after {
  content: '';
  width: 193px;
  height: 193px;
  background-image: url('https://github.com/AlexandreLima658.png');
  background-size: cover;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulos {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}
.nav-list ul,
li {
  display: flex;
  margin-top: 2rem;
}
.nav-list a {
  text-decoration: none;
  color: white;
  margin: 1rem;
}
.nav-list img {
  border-radius: 4px;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
  0% {
    transform: rotate(0deg);
  }
}
